//- Copyright (c) 2024 CVEDB All rights reserved.

extends layout

block content
    .gap.pad
        .tred= message
        br
        button.gap.btn.vgi-undo(onclick="history.back()") Return to previous page
